<!DOCTYPE html>
<html>
    <head>
        <title>Techie Spring Boot Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Dashboard de Somos PNT!</h1>
    </body>
</html>
